<div ui-view>
    
</div>
<footer class="footer" >
    <figure ui-sref=".homepage" ui-sref-active="downon">
        <i class="yo-ico">&#xe6bb;</i>
        <figcaption>首页</figcaption>
    </figure>
    <figure ui-sref=".faxian" ui-sref-active="downon">
        <i class="yo-ico">&#xe65c;</i>
        <figcaption>发现</figcaption>
    </figure>
    <figure >
        <div class="camera" ui-sref=".camera" ui-sref-active="downon">
                <i class="yo-ico">&#xe664;</i>
        </div>
    </figure>
    <figure ui-sref=".mine" ui-sref-active="downon">
        <i class="yo-ico">&#xe735;</i>
        <figcaption>我的</figcaption>
    </figure>
    <figure ui-sref=".exit" ui-sref-active="downon">
    <!--<figure ng-click="exitclick()">-->
        <i class="yo-ico">&#xe603;</i>
        <figcaption>退出</figcaption>
    </figure>
</footer>