<header class="header">
    <i class="yo-ico-menu topi white">&#xe790;</i>

    <div class="homepage">
        <div  ui-sref = ".wlan" ui-sref-active="topselect">热点</div>
        <div ui-sref = ".guanzhu" ui-sref-active="topselect">关注</div>
    </div>
    <i class="yo-ico topi topri white" >&#xe684;</i>
</header>

    <div class = "homeWlan" ui-view></div>
         <!--   <div class="hcont">
                <span class='on'>足球现场</span>
                <span>足球生活</span>
                <span>足球美女</span>
            </div>
            <div class="swiper-container sc2">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide ssd1">
                        <figure ng-repeat='x in data'>
                            <img ng-src={{x.img}} alt=""/>
                            <figcaption>{{x.title}}</figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide"> 2
                    </div>
                    <div class="swiper-slide"> 3
                    </div>
                </div>
            </div>
-->