.btn{
  @extend .cent;
  height: .6rem;
  width: 2rem;
  background: #ff0000;
  color: white;
  border: solid .03rem rgba(0,0,0,.3);
  border-radius: .1rem;
  font-size: .3rem;
  box-shadow:  -.05rem -.1rem .5rem .1rem rgba(0,0,0,.3) inset;
  text-shadow: .02rem .02rem .03rem  rgba(0,0,0,.7);
}